<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-block">
        <div class="row align-items-center justify-content-center">
          <div class="col-auto">
            <img class="img-fluid" src="https://th.bing.com/th/id/OIP.AaOHPLUfPxZuaoyRC2O-ngHaD-?pid=ImgDet&rs=1"
              style="width: 500px; height: 350px" alt="dashboard-user">
          </div>
          <div class="col">
            <h1 class="mb-3">Bienvenido</h1>
            <span>Angular JS</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>