<div class="modal" tabindex="-1">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6"><br /><br />
      <div class="card">
        <div class="card-body">
          <div class="right"><button mat-dialog-close="">X</button></div>
          <h1 class="titulo">Agregar Alumno</h1>
          <hr>
          <div mat-dialog-content>
            <form [formGroup]=" formulario">
              <div class="row">
                <div class=" col-12">
                  <div class="mb-3">
                    <label for="Nombre" class="form-label">Nombre(s)</label>
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre" id="Nombre"
                      aria-describedby="Nombre" autocomplete="off">
                  </div>
                </div>
                <div class=" col-12">
                  <div class="mb-3">
                    <label for="Apellidos" class="form-label">Apellidos</label>
                    <input formControlName="apellidos" type="text" class="form-control" placeholder="Apellidos"
                      id="Apellidos" aria-describedby="Apellidos" autocomplete="off">
                  </div>
                </div>
                <div class=" col-12">
                  <div class="mb-3">
                    <label for="curso" class="form-label">Curso</label>
                    <input formControlName="curso" type="text" class="form-control" placeholder="Curso" id="Curso"
                      aria-describedby="Curso" autocomplete="off">
                  </div>
                </div>
                <div class=" col-12">
                  <div class="mb-3">
                    <label for="Tareas" class="form-label">Tareas</label>
                    <input formControlName="tareas" type="text" class="form-control" placeholder="tareas" id="tareas"
                      aria-describedby="tareas" autocomplete="off">
                  </div>
                </div>
                <div class=" col-12">
                  <div class="mb-3 form-check"><br>
                    <input type="checkbox" checked="checked" class="form-check-input" id="Asistencia">
                    <label class="form-check-label" for="Asistencia">Asistencia</label>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="right">
            <button mat-dialog-close="" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              <mat-icon>close</mat-icon>&nbsp;Cerrar
            </button>&nbsp;&nbsp;
            <button mat-dialog-close="" type="button" class="btn btn-success" (click)="agregar()">
              <mat-icon>save</mat-icon>&nbsp;Guardar
            </button>&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>