.titulo {
  text-align: center;
}
.right {
  text-align: right;
}
.boton {
  text-align: center;
}

.invalid {
  color: rgb(248, 120, 120);
}
.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

h1,
label {
  color: black;
}
