<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <ng-container *ngIf="sesionActiva$ | async as sesion">
      <!-- <mat-toolbar color="" *ngIf="sesion.sesionActiva"><mat-toolbar color="" *ngIf="sesion.sesionActiva"> -->
      <mat-toolbar color="">
        <span><img src="https://cdn-icons-png.flaticon.com/512/855/855601.png" alt="Logo" width="35" height="30"
            class="d-inline-block align-text-top"><label class="titulo">&nbsp;&nbsp;ALUMNOS</label></span>
        <span class="example-spacer"></span>

        <!-- <span> Usuario: {{sesion.Usuario}}&nbsp;&nbsp; </span> -->
        <button mat-button (click)="irinicio()"><mat-icon>home</mat-icon>&nbsp;&nbsp;Inicio</button>
        <a mat-button routerLink="vistas/lista"><mat-icon>list</mat-icon>&nbsp;&nbsp;Lista</a>
        <a mat-button routerLink="vistas/tabla"><mat-icon>table</mat-icon>&nbsp;&nbsp;Tabla</a>
        <button mat-button (click)="formulario()" *ngIf="(usuarioActivo$ | async)?.esAdmin"><mat-icon>add</mat-icon>
          Nuevo</button>

        <a mat-button (click)="salir()"><mat-icon>close</mat-icon>&nbsp;&nbsp;Cerrar sesion</a>
      </mat-toolbar>
    </ng-container>
    <div class=" contenido">
      <router-outlet></router-outlet>
    </div>


  </body>

</html>